- name: Install required packages
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  loop:
    - wget
    - unzip
    - curl
    - adduser
    - libfontconfig1

- name: Create prometheus user
  user:
    name: prometheus
    shell: /bin/false
    create_home: no
    state: present

- name: Create directories
  file:
    path: "{{ item }}"
    state: directory
    owner: prometheus
    group: prometheus
    mode: 0755
  loop:
    - /etc/prometheus
    - /var/lib/prometheus

- name: Download Prometheus
  shell: |
    PROMETHEUS_VERSION="v3.9.1"
    PROMETHEUS_FILE="prometheus-3.9.1.linux-amd64"
    wget https://github.com/prometheus/prometheus/releases/download/${PROMETHEUS_VERSION}/${PROMETHEUS_FILE}.tar.gz
    tar xvf ${PROMETHEUS_FILE}.tar.gz
    cp ${PROMETHEUS_FILE}/prometheus /usr/local/bin/
    cp ${PROMETHEUS_FILE}/promtool /usr/local/bin/
    cp -r ${PROMETHEUS_FILE}/consoles /etc/prometheus
    cp -r ${PROMETHEUS_FILE}/console_libraries /etc/prometheus
    cp ${PROMETHEUS_FILE}/prometheus.yml /etc/prometheus/prometheus.yml
    chown -R prometheus:prometheus /etc/prometheus
    chown prometheus:prometheus /usr/local/bin/prometheus
    chown prometheus:prometheus /usr/local/bin/promtool
  args:
    creates: /usr/local/bin/prometheus

- name: Create Prometheus service
  copy:
    dest: /etc/systemd/system/prometheus.service
    content: |
      [Unit]
      Description=Prometheus
      Wants=network-online.target
      After=network-online.target

      [Service]
      User=prometheus
      Group=prometheus
      Type=simple
      ExecStart=/usr/local/bin/prometheus \
          --config.file /etc/prometheus/prometheus.yml \
          --storage.tsdb.path /var/lib/prometheus/ \
          --web.console.templates=/etc/prometheus/consoles \
          --web.console.libraries=/etc/prometheus/console_libraries

      [Install]
      WantedBy=multi-user.target

- name: Start Prometheus service
  systemd:
    name: prometheus
    enabled: yes
    state: started

- name: Remove grafana-enterprise if exists
  apt:
    name: grafana-enterprise
    state: absent
    purge: yes
  ignore_errors: yes

- name: Install Grafana OSS
  apt:
    deb: https://dl.grafana.com/oss/release/grafana_11.4.0_amd64.deb
    state: present

- name: Enable Grafana service
  systemd:
    name: grafana-server
    enabled: yes
    state: started

