- name: Install Prometheus + Grafana on ec2-1
  hosts: ec2-1
  become: yes

  tasks:
    - name: Install required packages
      apt:
        name: "{{ item }}"
        state: present
        update_cache: yes
      loop:
        - wget
        - unzip
        - curl
        - adduser
        - libfontconfig1

    - name: Create prometheus user
      user:
        name: prometheus
        shell: /bin/false
        create_home: no
        state: present

    - name: Create directories
      file:
        path: "{{ item }}"
        state: directory
        owner: prometheus
        group: prometheus
        mode: 0755
      loop:
        - /etc/prometheus
        - /var/lib/prometheus

    - name: Download Prometheus
      shell: |
        PROMETHEUS_VERSION="v3.9.1"
        PROMETHEUS_FILE="prometheus-3.9.1.linux-amd64"
        wget https://github.com/prometheus/prometheus/releases/download/${PROMETHEUS_VERSION}/${PROMETHEUS_FILE}.tar.gz
        tar xvf ${PROMETHEUS_FILE}.tar.gz
        cp ${PROMETHEUS_FILE}/prometheus /usr/local/bin/
        cp ${PROMETHEUS_FILE}/promtool /usr/local/bin/
        cp -r ${PROMETHEUS_FILE}/consoles /etc/prometheus
        cp -r ${PROMETHEUS_FILE}/console_libraries /etc/prometheus
        cp ${PROMETHEUS_FILE}/prometheus.yml /etc/prometheus/prometheus.yml
        chown -R prometheus:prometheus /etc/prometheus
        chown prometheus:prometheus /usr/local/bin/prometheus
        chown prometheus:prometheus /usr/local/bin/promtool
      args:
        creates: /usr/local/bin/prometheus

    - name: Create Prometheus service
      copy:
        dest: /etc/systemd/system/prometheus.service
        content: |
          [Unit]
          Description=Prometheus
          Wants=network-online.target
          After=network-online.target

          [Service]
          User=prometheus
          Group=prometheus
          Type=simple
          ExecStart=/usr/local/bin/prometheus \
              --config.file /etc/prometheus/prometheus.yml \
              --storage.tsdb.path /var/lib/prometheus/ \
              --web.console.templates=/etc/prometheus/consoles \
              --web.console.libraries=/etc/prometheus/console_libraries

          [Install]
          WantedBy=multi-user.target

    - name: Start Prometheus service
      systemd:
        name: prometheus
        enabled: yes
        state: started

    - name: Remove grafana-enterprise if exists
      apt:
        name: grafana-enterprise
        state: absent
        purge: yes
      ignore_errors: yes

    - name: Install Grafana OSS
      apt:
        deb: https://dl.grafana.com/oss/release/grafana_11.4.0_amd64.deb
        state: present

    - name: Enable Grafana service
      systemd:
        name: grafana-server
        enabled: yes
        state: started


- name: Install SonarQube on ec2-2
  hosts: ec2-2
  become: yes

  tasks:
    - name: Install dependencies
      apt:
        name: "{{ item }}"
        state: present
        update_cache: yes
      loop:
        - openjdk-17-jdk
        - unzip
        - curl
        - nginx

    - name: Set sysctl values
      copy:
        dest: /etc/sysctl.conf
        content: |
          vm.max_map_count=262144
          fs.file-max=65536
      notify: reload sysctl

    - name: Configure limits.conf
      copy:
        dest: /etc/security/limits.conf
        content: |
          sonarqube   -   nofile   65536
          sonarqube   -   nproc    409

    - name: Install PostgreSQL
      shell: |
        wget -q https://www.postgresql.org/media/keys/ACCC4CF8.asc -O - | apt-key add -
        sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt/ $(lsb_release -cs)-pgdg main" >> /etc/apt/sources.list.d/pgdg.list'
        apt-get update -y
        apt-get install postgresql postgresql-contrib -y
        systemctl enable postgresql
        systemctl start postgresql
      args:
        creates: /usr/bin/psql

    - name: Set postgres password
      shell: echo "postgres:admin123" | chpasswd

    - name: Create sonar user & DB
      shell: |
        runuser -l postgres -c "createuser sonar"
        sudo -i -u postgres psql -c "ALTER USER sonar WITH ENCRYPTED PASSWORD 'admin123';"
        sudo -i -u postgres psql -c "CREATE DATABASE sonarqube OWNER sonar;"
        sudo -i -u postgres psql -c "GRANT ALL PRIVILEGES ON DATABASE sonarqube to sonar;"

    - name: Download SonarQube
      shell: |
        cd /tmp
        curl -O https://binaries.sonarsource.com/Distribution/sonarqube/sonarqube-25.1.0.102122.zip
        unzip -o sonarqube-25.1.0.102122.zip -d /opt/
        mv /opt/sonarqube-25.1.0.102122 /opt/sonarqube
      args:
        creates: /opt/sonarqube

    - name: Create sonar group
      group:
        name: sonar
        state: present

    - name: Create sonar user
      user:
        name: sonar
        comment: "SonarQube - User"
        home: /opt/sonarqube
        group: sonar
        create_home: no
        state: present

    - name: Set permissions
      file:
        path: /opt/sonarqube
        owner: sonar
        group: sonar
        recurse: yes

    - name: Configure sonar.properties
      copy:
        dest: /opt/sonarqube/conf/sonar.properties
        content: |
          sonar.jdbc.username=sonar
          sonar.jdbc.password=admin123
          sonar.jdbc.url=jdbc:postgresql://localhost/sonarqube
          sonar.web.host=0.0.0.0
          sonar.web.port=9000
          sonar.web.javaAdditionalOpts=-server
          sonar.search.javaOpts=-Xmx512m -Xms512m -XX:+HeapDumpOnOutOfMemoryError
          sonar.log.level=INFO
          sonar.path.logs=logs

    - name: Create SonarQube service
      copy:
        dest: /etc/systemd/system/sonarqube.service
        content: |
          [Unit]
          Description=SonarQube service
          After=syslog.target network.target

          [Service]
          Type=forking
          ExecStart=/opt/sonarqube/bin/linux-x86-64/sonar.sh start
          ExecStop=/opt/sonarqube/bin/linux-x86-64/sonar.sh stop
          User=sonar
          Group=sonar
          Restart=always
          LimitNOFILE=65536
          LimitNPROC=4096

          [Install]
          WantedBy=multi-user.target

    - name: Start SonarQube service
      systemd:
        name: sonarqube
        enabled: yes
        state: started

    - name: Configure nginx for SonarQube
      copy:
        dest: /etc/nginx/sites-available/sonarqube
        content: |
          server{
              listen      80;
              server_name sonarqube.groophy.in;

              access_log  /var/log/nginx/sonar.access.log;
              error_log   /var/log/nginx/sonar.error.log;

              location / {
                  proxy_pass  http://127.0.0.1:9000;
                  proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
                  proxy_redirect off;

                  proxy_set_header    Host            $host;
                  proxy_set_header    X-Real-IP       $remote_addr;
                  proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
                  proxy_set_header    X-Forwarded-Proto http;
              }
          }
      notify: restart nginx

    - name: Enable nginx site
      file:
        src: /etc/nginx/sites-available/sonarqube
        dest: /etc/nginx/sites-enabled/sonarqube
        state: link

  handlers:
    - name: reload sysctl
      command: sysctl -p

    - name: restart nginx
      service:
        name: nginx
        state: restarted

